:root {
    --primary: #229FC5;
    --secondary: #555555;
    --light: #F1F3FA;
    --dark: #1C2035;
}

section{
    padding-top: 8rem!important;
    padding-bottom: 8rem!important;
}
.back-to-top {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 30px;
    z-index: 99;
}

.bg-primary{
    background-color: #229FC5!important;
}

.btn-primary {
    color: #fff;
    background-color: var(--primary);
    border: 2px solid var(--primary);
    border-radius: 0.9em;
    cursor: pointer;
    transition: all ease-in-out 0.2s;

}

.btn-primary-nav {
   font-size: 1.5rem;
}

.btn-outline-secondary{
    color: var(--dark);
    background-color: var(--light);
    border: 2px solid var(--dark);
    border-radius: 0.9em;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
}

/*Navbar*/
.sticky-top {
    top: -100px;
    transition: .5s;
}
.navbar{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.navbar .navbar-nav .nav-link {
    margin-right: 35px;
    padding: 25px 0;
    color: var(--dark);
    font-size: 18px;
    font-weight: 500;
    outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: var(--primary);
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

/*Header*/
.header_overlay{
    width: 100%;          
    height: 100vh;       
    display: flex;       
    justify-content: center;
    align-items: center;
}
.header_inner{
    background: linear-gradient(rgba(0, 0, 0, .01), rgba(0, 0, 0, .01)), url(../img/Background_dots_large.svg) center center no-repeat;
    background-size: 100%, auto;
    background-attachment: fixed;
    height: 100%;
}

/*Service*/

.service-item {
    z-index: 1;
    position: relative;
    display: flex;       
    justify-content: center;
}
.service-item .card {
    z-index: 1;
}

.service-btn {
    display: flex;       
    justify-content: center;
    align-items: center;
    bottom: 1.5rem;
    position: absolute;
    transition: all .4s ease-in-out;
    z-index: 0;
    background-color: var(--light);
    height: 2rem;
   padding: 20px;
    box-shadow: 0 0 45px rgba(0, 0, 0, .1);
width: 50%;
}
.service-btn a{
    text-decoration: none;
}
.service-item:hover .service-btn {
    bottom: -2.5rem;
    transition: all .4s ease-in-out;
}

/* gallery */
.gallery-image {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .gallery-image img {
    height: 250px;
    width: 350px;
    transform: scale(1.0);
    transition: transform 0.4s ease;
  }
  
  .img-box {
    box-sizing: content-box;
    margin: 10px;
    height: 250px;
    width: 350px;
    overflow: hidden;
    display: inline-block;
    color: white;
    position: relative;
    background-color: white;
  }
  
  .caption {
    position: absolute;
    bottom: 5px;
    left: 20px;
    opacity: 0.0;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  
  .transparent-box {
    height: 250px;
    width: 350px;
    background-color:rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
    transition: background-color 0.3s ease;
  }
  
  .img-box:hover img { 
    transform: scale(1.1);
  }
  
  .img-box:hover .transparent-box {
    background-color: rgba(34, 159, 197, 0.5);
  }
  
  .img-box:hover .caption {
    transform: translateY(-20px);
    opacity: 1.0;
  }
  
  .img-box:hover {
    cursor: pointer;
  }
  
  .caption > p:nth-child(2) {
    font-size: 0.8em;
  }
  
  .opacity-low {
    opacity: 0.5;
  }